html{

  font-family: Helvetica;
}

.container {
  color: white;
  background-color: black;
  width: 100%;
  font-size: 1rem;
  align-items: center;
  display:flex;
  padding: 12px 0px 12px
  0.5em;
  }
.container img{
height:1.5rem;
padding-right: 15px;
}
.motorcycles{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  text-align: center;
  flex:1;
  background-repeat:no-repeat;
  max-width: 100%;
  background-size: cover;
  height: 25rem;
  position: relative;
  display: block;
}

  .motorcycles .headline {
  color: white;
  width:20rem;
  background-color: black;
  top: 10rem;
  height: 8rem;
  padding: 2em 3em;
  left: 2rem;
  display: block;
position: absolute;
}

.motorcycles h4{
  font-weight: bold;
  margin-bottom: 1.425em;
}
.motorcycles h1{
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
}

@media screen and (max-width:600px)
{
  .motorcycles .headline{
    width:100%;
    font-size: 1rem;
    position: relative;
    left: 0rem;
    text-align: left;
    height: 2.3rem;
    align-items: baseline;
  }
  .motorcycles h1{
    font-size: 1.25rem;
    padding-right: 30px;
  }
  .menu, .rednav{
    height:1rem;
  }
}
.rednav, .menu{
  background-color: firebrick;
  color: white;
  width:100%;
  font-size: 1.25rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}
.rednav ul li, .menu ul li{
  display: inline-flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto 0;
  min-width: 180px;
  padding: 0.75rem 0em;
  }
.menu {
display: none;
}
@media only screen and (max-width:1000px)
 {
  .menu{
    display:flex;
    justify-content: center;
    text-align: center;
  }
  .rednav{
    display: none;
  }
  .motorcycles .headline{

  }
}
